.nav_bar_container {
  font-family: 'Merriweather', serif;
  padding-top: 3%;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav{
  display: flex;
  list-style-type: none;
}

.nav_items {
  display: flex;
}

.link_container {
  padding-left: 10%;
  padding-right: 10%;
  list-style-type: none;
}

.nav_title {
  list-style-type: none;
  font-size: 1.5em;
  display: flex;
  text-decoration: none;
  color: #374957;
}

.nav_link {
  list-style-type: none;
  font-size: 1em;
  display: flex;
  text-decoration: none;
  color: #374957;
  padding-left: 2%;
  float: left;
}

.logo {
  justify-self: start;
  height: 8%;
  width: 8%;
  cursor: pointer;
}



